fastapi
uvicorn
sqlalchemy
geoalchemy2
psycopg2-binary
celery
redis
pydantic
pydantic-settings
asyncpg
greenlet
python-dotenv
sh
python-multipart
shapely
tenacity
httpx
pytest
pytest-asyncio
pytest-mock
fakeredis
coverage
requests
